*{ font-family: sans-serif;}
	
	body{
		margin:0;
		padding: 0;
		background-image: url("Assests/Fundo.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
 	#caixa{
		width: 1000px;
		margin: 0 auto;
		margin-top: 30px;
	} 
    
/*		    Ficha   */	
        #ficha{
            width: 100%;
            min-width: 989px;
            height: 1665px;
            background-color: rgb(255, 255, 255, 0.88);
            border-radius: 3px;
    
        }


/*		Inventario	*/
	#Invetario{
		width: 45px;
		height: 45px;
		background-color: white;
		opacity: 0.88;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		cursor: pointer;
		position: relative;
		left:700px;

	}
	#mochila{
		width:40px;
		height: 40px;
		display: block;
		margin: auto;
		position: relative;
		top: 2px;
	}
	#texto{
        top: -54px;
		left: 53px;
		width: 200px;
		height: 50px;
        font-size: 20px;
	}
	#Invetario:hover #texto{
		display: block;
	}

    .textosQueAparecem{
        display: none;
		position: relative;
        color: rgba(255, 255, 255, 0.632);
    }


/*      Anotação Estilo da parte superior que faz faz aparecer a div */
    #anotacao{
        width: 45px;
        height: 45px;
        background-color: rgba(255, 255, 255, 0.89);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        float: left;
        margin-top: -45px;
        margin-left: 220px;
        cursor: pointer;
    }
    #anotacao img{
        width: 40px;
        height: 40px;
        display: block;
        margin: auto;
    }    
	#anotacao:hover #txtAnotacao{
        display: block;
    }
    #CampodeAnotacao{
        display: none;
    }
    #CampodeAnotacao:target{
        display: block;
    }


	/* #anotacoesSalvas{
		height: 20px;

			/* Tentar fazer com que as div sejam empurradas para não ficar aquele espaço enorme */
	/* #anotacoesSalvas, #addAnotacao{
		transition: top 0.3s ease-in-out;
	}
	#addAnotacao:hover{
		margin-top: 20px;
	} 
*/
	
/* Estilos da Div que aparece quando clicamos na anotação */
	.estiloAnotacao{
		width: 380px;
		height: 336px;
		background-color: #f5deb2;
		position: absolute;
		top: 30px;
		left: 90px;
		border-radius: 5px;
		z-index: 3;
	}
	.estiloAnotacao h3{
		margin: 0;
		margin-top: 3px;
		text-align: center;
	}
	.caixaAnotacao{
		width: 90%;
		height: 290px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		/* background-color: rgba(51, 128, 0, 0.322); */
	}
	.estiloAnotacao a{
		text-decoration: none;
		color: black;
		position: absolute;
		top: 312px;
		left: 280px;
	}
	#txtAnotacao{
		font-size: 20px;
		top: -54px;
		left: 50px;
	}


	/*	Estilos que aplicam o efeito no input text		*/
	#addAnotacao{
		position: absolute;
		width: 100%;
		padding: 15px 0 0;
		margin-top: 2px;
		min-height: 60px;
	}
	.inputAnotacao{
		width: 60%;
		border: 0;
		border-bottom: 2px solid #A8936A;
		outline: 0;
		font-size: 1.1rem;
		color: black;
		padding: 2px 0;
		background: transparent;
		transition: border-color 0.2s;
		
		&::placeholder{ /* Campo que faz sumir o texto escrito no placeHolder */
			color: transparent;
		}

		 &:placeholder-shown ~ .legendaAnotacao{ /* Campo que faz com que o label fique no lugar do placeHolder */
			font-size: 1.1rem;
			cursor: text;
			top: 20px;
		}
	}
	.legendaAnotacao{
		position: absolute;
		top: 0;
		display: block;
		transition: 0.2s;
		font-size: 1rem;
		color: #A8936A;
	}
	.inputAnotacao:focus{
		~ .legendaAnotacao{
			position: absolute;
			top: 0;
			display: block;
			transition: 0.2s;
			font-size: 1rem;
			color: #1e90ff;
			font-weight: 700;
		}
		font-weight: 400;
		border-width: 3px;
		border-image: linear-gradient(to right, #1E90FF,#1872CC);
		border-image-slice: 1;
	}


	/*	Estilo do button de anotação*/
	#EnviarAnotacao{
		background-image: url("./Assests/enviado.png"),
		  url("./Assests/entrega-rapida.png");
		background-repeat: no-repeat;
		background-size:24px;
		background-position: calc(0% - 100px), calc(100% - 8px);
		background-color:rgb(255 209 98) ;
		color: rgb(26 28 60);
		cursor: pointer;
		display: block;
		position: relative;
		border: 2px solid rgb(255 209 98);
		border-radius: 2px;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 700;
		width: 130px;
		text-align: center;
		overflow: hidden;
		letter-spacing: 0.08em;
		white-space: nowrap;
		transition: background-position 2s ease;
	  
		position: absolute;
		margin-left: 5px;
	  
		&:hover {
		  background-position: calc(32% - 30px), calc(100% + 100px);
		}
	  }

/* Campo para que o input e o botão fique um do laado do outro*/
	#addAnotacao input,	
	#addAnotacao button{
		display: inline-block
	}







/* 		Imagem e nome do personagem*/
	#personagem{
		width: 300px;
		height: 290px;
	}
	#imgPersonagem{
		width: 300px;
		height: 280px; 
		text-align: center;
		position: relative;
		left: 40px;
		top: 30px;
	}
	#imgPersonagem strong{
		font-size: 23px;
	}

/* 		Barras de vida, sanidade, mana Pontos de Esforço*/
	#caixaBarras{
		position: relative;
		top:78px;
		left: 40px;
	}
	#caixaBarras progress{
		display: block;
	}
	#caixaBarras span{
		font-size: 18px;
	}
	#estadosSanidade{
		position: relative;
		left: 34px;
	}

	#pontosEsforco{
		display: inline-block;
		padding-top: 20px;
	}


	#vida::-webkit-progress-value{
		background-color: rgb(230, 59, 59);
	} #vida::-moz-progress-bar{ background-color: rgb(230, 59, 59);}

	#sanidade::-webkit-progress-value{
		background-color: #3DB697;
	} #sanidade::-moz-progress-bar{ background-color: #3DB697;}
	
	#mana::-webkit-progress-value{
		background-color:rgb(59, 73, 230)
	}  #mana::-moz-progress-bar{ background-color: rgb(59, 73, 230);}
	#PE::-webkit-progress-value{
		background-color: yellow;
	} #PE::-moz-progress-bar{ background-color: yellow;}
	
	
	.barras{
		width: 300px;
		height: 20px;
		border-radius: 0;
		border: 1px solid black;
	}
	.container{
		position: relative;
		width: 300px;
		height: 20px;
	}
	.txtQuantidades{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.estado{
		display: block;
		padding-bottom: 8px;
		padding-top: 8px;
		position: relative;
	}
	.estado label{
		font-size: 13.7px;
	}

/* 		Armas, Acao-Por-Combate, Armadura, Vantagem, Atributos  e Passiva */
	.camposEmBaixo{
		max-width: 300px;
		min-width: 280px;
		/*background-color: rgba(56, 52, 50, 0.87); */
		background-color:rgb(83, 83, 83, 0.90);
		position: relative;
		left: 40px;
		border-radius: 5px;
		color: #FFFF;
		word-wrap: break-word;
	}
	.titulos{	 
		margin: 0;
		padding: 0; 
		color: #FFFF;
		font-size:20px;
		text-align: center;
		padding-top: 5px; 
	}

/*  	Armas */
	#caixaArmas{
		height: 264px;
		margin-top: 100px;
	}
	#Armas{
		width: calc(300px - 12px);
		height: 40px;
		position: relative;
		left: 7px;
	}
	#Armas img{
		width: 40px;
		height: 40px;
		border-radius: 5px;
		margin-bottom: 2px;
	}

	#Armas strong{
		font-size: 16px;
		padding: 8px;
		color: #FFFF;
		position: absolute;
	}
	.equipado, .txtequipado{
		float: right;
		color: rgb(255, 255, 255, 0.80);
		position: relative;
		top: 10px;
		
	}
	/* Tentar fazer com que apareça uma div quando clicada na imagem
	#teste{
		display: none;
		width: 200px;
		height: 300px;
		background-color:rgb(56, 52, 50, 0.50);
		position: relative;
		top: -84px;
		left: -13rem;
		border-radius: 5px;
	}

	#teste:target {
		display: block;
	}



	.fechar{
		float: right;
	}
	*/

/* 		Ações por Combate */
	#acaoCombate{
		height: 100px;
		margin-top: 16px;
		font-size: 18px;
		color:#FFFF;
	}
	#acaoCombate h4{
		font-size: 20px;
		text-align: center;
		color: #FFFF;
	}
	#acaoCombate ul{
		list-style-type: square;
	}
	#acaoCombate div{
		position: relative;
		top: -20px;
	}
	#move{
		font-size: 15px;
	}



/* 		Defesa */
	#armadura{
		height: 100px;
		font-size: 18px;
	}
	#armadura ul{
		list-style-type: square;
	}
	#armadura div{
		position: relative;
		top: -20px;
	}

/*  	Vantagem */
	#vantagem{
		margin-top: 18px;
	}
	#vantagem span{
		display: inline-block;
		padding-bottom: 7px;
		margin-left: 13px;
	}


/*  	Atributos*/
	#atributos{
		height:90px ;
		margin-top: 18px;
		font-size: 17px;
	}
	#atributos ul{
		list-style-type: none;
	}
	#listaAtributos{
		position: absolute;
		top:50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin-left: -16px;
	}
	#listaAtributos{
		width: 250px;
		/* background-color: green; */
		margin-top: 10px;
	}
	#listaAtributos input{
		width: 20px;
		border: none;
		outline: none;
		background: transparent;
		color: white;
		font-size: 17px;
	}
	#ladoDireito{
		float: right;
		top: 0;
		margin-top: -22px;
	}
	#emBaixo{
		text-align: center;
	}


/*  	Passiva*/
	#passiva{
		height: 108px;
		margin-top: 18px;
		font-size: 15px;
	}
	#passiva div{
		width:100%;
		max-width: 280px;
		max-height: 104px;
		padding-top: 10px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: justify;
		font-size: 17px;
	}

/*		 Selos */
	#selos{
		margin-top: 18px;
		height: 80px;
	}
	#selos span{
		display: block;
	}
	#CaixaSelos{
		width: 290px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin-top: 8px;
		margin-left: 20px;
		/* background-color: green; */
	}
	#Selos1{
		width: 140px;
		/* background-color: red; */
	}
	#Selos2{
		width: 130px;
		float: right;
		margin-top: -38px;
		/* background-color: blue; */
	}



/*		Caixa de Riquezas	*/
	#caixaDeRiquezas{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 146px;
		max-width: 150px; 	
		height: 30px;
		float: right;
		position: relative;
		bottom: 1598px;
		right: 10px;
		opacity: 0.84;
	}
	#caixaDeRiquezas img{
		width: 20px;
		height: 20px;
	}


/* 		Inputs da Caixa de Riquezas */
	#caixaDeRiquezas input{
		width: 20px;
		max-width: 40px;
		font-size: 16px;
		outline: none;
		border: none;
		background: none;
		padding: 5px;
	}
	input[type=number]::-webkit-inner-spin-button { 	 /* <-- Campos que fazem a remoção das setas de aumentar e diminuir */
    -webkit-appearance: none;
	}
	input[type=number] { 
	-moz-appearance: textfield;
	appearance: textfield;
	}



/* 		Campos do lado  classe*/
	.camposAoLado{
		width: 550px;	
		background-color:rgb(83, 83, 83, 0.90);
		float: right;
		position: relative;
		bottom: 1550px;
		left: 96px;
		border-radius: 5px;
	}


/*		Dados Pessoais	*/
	#dadosPessoais{
		height: 300px;
		max-height: 400px;
	}
	#dadosPessoais h4{
		padding-top: 5px;
	}
	#caixaDeInputs{
		width: 96%;
		max-height: 280px;
		position: absolute;
		top:50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	#caixaDeInputs div{
		padding: 15px 0 0;
		margin-top: 10px;
		position: relative;	
	}
	#caixaRaca{
		width: 50%;
		display: inline-block;
	}
	#caixaReino{
		width: 50%;
		float:right;
	}
	#raca{
		width: 96%;
	}

/*	Classes dos dados Pessoais	*/
	.inputs{
		width: 100%;
		border: 0;
		padding: 0;
		background-color: none;
		font-size: 17px;
		background:transparent;
		color: white;
		border-bottom: 2px #c2c2c2 solid;
		outline: 0; /* elemento que tira o as bordas focadas quando clicamos em input*/
		padding: 2px 0 ;
		transition: border-color 0.2s;
		display: block;
	
	&::placeholder{
		color:transparent;
	}
	&:placeholder-shown ~ .camposDadosPessoais{
		font-size: 1.2rem;
		cursor: text;
		top: 20px;
	}
}
	.camposDadosPessoais{
		position:absolute;
		top: 0;
		display: block;
		transition: 0.2s;
		font-size: 1rem;
		color: #c2c2c2;
	}
	.inputs:focus{
	~ .camposDadosPessoais{
		position: absolute;
		top: 0;
		display: block;
		transition: 0.2s;
		font-size: 1rem;
		color: #11998e;
		font-weight: 700;
	}
	border-width: 3px;
	font-weight: 200;
	border-image: linear-gradient(to right, #11998E, #38ef7d);
	border-image-slice:1;
}
	.inputs{
		&:required,&:invalid {box-shadow:none;}
	}

/*		Propriedades da Raça	*/
	#propriedadesRaca{
		height: 240px;
		max-height: 250px;
		position: relative;
		left: -50px;
		margin-top: 20px;
	}
	#propriedadesRaca div{
		padding: 10px;
		padding-top: 6px;
	}
	#propriedadesRaca span{
		display: block;
		color:  #FFFF;
		text-align: justify;
		padding-bottom: 5px;
	}

/*		Perícias	*/	
	#pericias{
		margin-top: 20px;
		left: -50px;
		color: #FFFF;
	}
	#periciasBloco1{
		width: 140px;
		margin-left: 30px;
		float: left;
		padding: 1px;
	}
	#periciasBloco2{
		width: 160px;
		margin-left: 98px;
		float: left;
		padding: 1px;
	}

	.numerosBlocos{
		max-width: 20px;
		text-align: center;
		padding: 1px;
		float: left;
	}
	.vantagemPericias{
		position: absolute;
		margin-top: -18px;
		margin-left: 25px;
		font-size: 12px;
	}
	.valoresPericias{
		width: 20px;
		font-size: 16px;
		color: #FFFF;
		outline: none;
		background: none;
		border: none;
		text-align: center;
		padding-bottom: 2px;
	}
	.nomesPericias{
		display: block;
		padding-bottom: 3px;
	}


/*		Feitiços	*/
	#feiticos{
		margin-top: 20px;
		left: -50px;
		color: #FFF;
	}
	
	#caixaFeiticos{
		padding-left: 15px;
		padding-right: 15px;
		overflow: auto;
		height: 576px;
	}
	#caixaFeiticos span{
		display: block;
		/* text-align: justify; */
		padding-bottom: 6px;
	}
	#caixaFeiticos input{
		width: 400px;
		margin-top: 2px;
		margin-bottom: 10px;
	}
	#posturaCombate{
		margin: 0;
	}
	#posturaDescrição{
		font-size: 12px;
		padding-top: 3px;
	}

	.feiticosRaca{
		margin: 0;
		font-size: 18px;
		padding-bottom: 2px;
	}
	

/* Campo para adicionar um novo Feitiço */
	#Input1{
		display: none;
	}
	#Input1:target{
		display: block;
	}