*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("../Assests/Fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#caixa{
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
}


/*		Botão de voltar para Ficha*/
#Voltar{
    width: 45px;
    height: 45px;
    background-color: white;
    opacity: 0.88;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    position: relative;
    left: 700px;
}
#fichaPersonImg{
    width:40px;
    height: 40px;
    display: block;
    margin: auto;
    position: relative;
    top: 2px;
}
#voltarFichaTxt{
    display: none;
    color: rgba(255, 255, 255, 0.632);
    width: 200px;
    height: 26px;
    position: relative;
    left: 53px;
    top: -30px;
    font-size: 20px;
}
#Voltar:hover #voltarFichaTxt{
    display: block;
}



/*		Ficha - Inventario 	*/
#inventario{
    width: 100%;
    min-width: 950px;
    height: 870px;
    background-color: rgb(255, 255, 255, 0.88) ;
    border-radius: 3px;
}
.titulo{
    font-size: 26px;
    text-align: center;
    padding-top: 5px;
}


/*		Area do Inventario*/	
#AreaInvt{
    width: 920px;
    height: 780px;
    background-color: rgb(83, 83, 83,0.90);
    border-radius: 3px;
    position: relative;
    top: 5px;
    left: 40px;
}
#caixaInvt{
    width: 100%;
    max-width: 910px;
    height: 760px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slots{
    width: 70px;
    height: 70px;
    margin-top: 10px;
    padding: 1px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid rgb(14, 13, 13);
}
.slots img{
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: block;
    margin: 0px auto;
    margin-top: 3px;
}
.linhas{
    display: flex;
    justify-content: space-around;
}




/* 	Campos que aparecerão clicar na imagem */
#slot1:target{
    display: block;
}
#slot1{
    left: 80px;
    height: 200px;
}	
#slot2:target{
    display: block;
}
#slot2{
    left: 162px;
    height: 300px;
}
#slot3:target{
    display: block;
}
#slot3{
    left:246px;
    height: 200px;
}
#slot4:target{
    display: block;
}
#slot4{
    left:330px;
    height: 200px;
}
#slot5:target{
    display: block;
}
#slot5{
    left:412px;
    height: 200px;
}
#slot6:target{
    display: block;
}
#slot6{
    left:495px;
    height: 200px;
}
#slot7:target{
    display: block;
}
#slot7{
    left:578px;
    height: 200px;
}
#slot8:target{
    display: block;
}
#slot8{
    left:661px;
    height: 200px;
}
#slot9:target{
    display: block;
}
#slot9{
    left:743px;
    height: 200px;
}
#slot10:target{
    display: block;
}
#slot10{
    left:826px;
    height: 200px;
}
#slot11:target{
    display: block;
}
#slot11{
    left:910px;
    height: 200px;
}




.divOculta{
    display: none;
}

.estiloDaDivOculta{
    position: absolute;
    top: 10px;
}

.estiloDaDivOculta div{
    width: 200px;
    background-color:  rgba(204, 203, 203, 0.959);
    border-radius: 4px;
}
.conteudo{
    display: block;
    text-align: center;
    padding-bottom: 6px;
}
.descricao{
    display: flex;
    text-align: justify;
    padding-left: 4px;
    padding-right: 4px;
}
.nomeItem{
    text-align: center;
    font-size: 18px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.txtPropriedades{
    text-align: center;
    font-size: 14px;
    padding-bottom: 3px;
}
.linkFechar{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}
